In [1]:
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_highest-grossing_animated_films'

In [3]:
tables=pd.read_html(url)
movies_df=tables[4]

In [4]:
movies_df.to_csv('movies1.csv')

In [7]:
movies_df.head()

,Year,Title,Worldwide gross,Budget,Ref(s)
0,1937,Snow White and the Seven Dwarfs,"$418,200,000+ ($8,500,000)R","$1,488,423",[# 125][# 170][# 171]
1,1938,NaN,NaN,NaN,NaN
2,1939,Gulliver's Travels,"$3,200,000*","$700,000",[# 172][# 173]
3,1940,Pinocchio,"$87,000,862* ($3,500,000)R","$2,600,000",[# 158][# 171][# 174]
4,1941,Dumbo,"$1,600,000*","$950,000",[# 175][# 176]

In [5]:
movies2_df=tables[6]
movies2_df.to_csv('movies2.csv')

In [19]:
movies2_df=movies2_df.drop([0])

In [23]:
col_list=list(movies2_df.iloc[0])
col_list

['Rank',
 'Series',
 'Total worldwide box office',
 'No. of films',
 'Average of films',
 'Highest-grossing film']

In [30]:
movies2_df.columns=col_list
movies2_df=movies2_df.drop([1])

In [ ]:
movies2_df['Rank'].values

In [65]:
rank_list=movies2_df['Rank'].values
new_rank_list=[]
for rank in rank_list:
    if len(rank)<2 or rank.size<2:
        new_rank_list.append(rank)

AttributeError: 'str' object has no attribute 'size'

In [62]:
rank_list.size

254