In [43]:
import pandas as pd
import re

In [2]:
url='https://en.wikipedia.org/wiki/List_of_highest-grossing_animated_films'

In [3]:
tables=pd.read_html(url)
movies_df=tables[4]

In [4]:
movies_df.to_csv('movies1.csv')

In [136]:
movies_df['Worldwide gross'].head(10)

movies_df = movies_df.dropna(subset=['Title'])
movies_df.head()

movies_df.drop(movies_df.loc[movies_df['Title']=='TBD'].index,inplace=True)
movies_df=movies_df.reset_index(drop=True)
movies_df.head()
# #movies_df=movies_df.drop(['Ref(s)'],axis=1)
movies_df['Distributor Rental']=''

In [163]:

movies_df['Worldwide gross'].str.split()
#re.sub("\D", "",(movies_df['Worldwide gross'].str.split()))

0               [$418,200,000+, ($8,500,000)R]
1                                [$3,200,000*]
2                [$87,000,862*, ($3,500,000)R]
3                                [$1,600,000*]
4                [$267,447,150, ($3,449,353)R]
5                                  [$799,000*]
6                                [$3,355,000R]
7                 [ES€5,595,283ES, (~$90,000)]
8                                [$3,275,000R]
9                                [$3,165,000R]
10                               [$2,560,000R]
11                               [$1,625,000R]
12    [$263,591,415($20,000,000/$7,800,000)*R]
13                               [$2,400,000*]
14                [$145,000,000, ($7,000,000)]
15              [$187,000,000, ($6,500,000)*R]
16               [$51,600,000*, ($5,300,000)R]
17                              [$215,880,212]
18            [$22,182,353*R, ($13,050,777)*R]
19       [$1,940,903*–2,438,233*($1,130,000)R]
20                               [$2,764,684*]
21                [$378,000,000($23,800,000)R]
22              [SEK1,270,971SW, (~$245,000)H]
23                              [$12,000,000*]
24              [$191,000,000, ($26,462,000)R]
25             [SEK1,202,319, SW, (~$253,000)]
26                               [$90,000,000]
27              [$32,056,467*, ($17,160,000)R]
28         [SEK5,813,000SW, (~$2,675,205.50)H]
29                          [$6,439,069NW, SW]
                        ...
44                               [$47,431,461]
45              [$424,967,620, ($351,863,363)]
46                              [$504,050,219]
47               [$81,877,069, ($50,003,043)*]
48              [$968,483,777, ($766,964,132)]
49              [$373,554,033, ($361,958,736)]
50                              [$325,338,851]
51                              [$252,712,101]
52                              [$363,258,859]
53              [$497,366,869, ($485,015,179)]
54                              [$349,822,765]
55              [$577,425,734, ($525,373,250)]
56                              [$383,257,136]
57              [$940,335,536, ($867,893,978)]
58                              [$919,838,758]
59                              [$532,680,671]
60                              [$660,940,780]
61                              [$798,958,162]
62                              [$631,744,560]
63                              [$886,686,817]
64                            [$1,066,969,703]
65                              [$665,692,281]
66                              [$877,244,782]
67              [$1,290,000,000, ($1.287×109)]
68                              [$657,818,612]
69                            [$1,159,398,397]
70                            [$1,028,570,889]
71                            [$1,034,799,409]
72                            [$1,242,805,359]
73                              [$509,000,740]
Name: Worldwide gross, Length: 74, dtype: object

In [145]:
gross_list=movies_df['Worldwide gross']
gross_list[25]

'SEK1,202,319 SW (~$253,000)'

In [152]:
#movies_df.loc[df['Title']=='TBD'].index, inplace=True

total_gross=[]
rental_distribution=[] 
for g in gross_list:
    g_i=g.split()
        #print(g_i)
    n0=re.sub("\D", "",g_i[0])
    

    if len(g_i)>1:
        n1=re.sub("\D", "",g_i[1])
    else:
        n1=0
    #print(f"n0 {n0}......n1 {n1}")
    try:
        sum=int(n1)+int(n0)
        total_gross.append(sum)
        #print(f"Sum is {sum}")
    except:
        print("Data is SHIT!!")
#print(total_gross)
new_total_gross=[]
for item in total_gross:
    if item <= 1000000000:
        new_total_gross.append(item)
print(new_total_gross)    

#re.findall('[\$,]|[\*]|[\+]', gross_list[0])
#movies_df[movies_df['Worldwide gross']][0].replace('[\$,]', '', regex=True)

Data is SHIT!!
Data is SHIT!!
[426700000, 3200000, 90500862, 1600000, 270896503, 799000, 3355000, 5685283, 3275000, 3165000, 2560000, 1625000, 2400000, 152000000, 193500000, 56900000, 215880212, 35233130, 2764684, 1515971, 12000000, 217462000, 90000000, 49216467, 273333550, 19000000, 198000000, 30471420, 7775109, 6355109, 103356988, 14665733, 4606109, 7465109, 56934622, 84542002, 9815109, 84460846, 295699342, 47431461, 776830983, 504050219, 131880112, 735512769, 325338851, 252712101, 363258859, 982382048, 349822765, 383257136, 919838758, 532680671, 660940780, 798958162, 631744560, 886686817, 665692281, 877244782, 657818612, 509000740]

In [123]:

len(gross_list)

74

In [102]:
#gross_list.str.find('R')

In [5]:
movies2_df=tables[6]
movies2_df.to_csv('movies2.csv')

In [19]:
movies2_df=movies2_df.drop([0])

In [23]:
col_list=list(movies2_df.iloc[0])
col_list

['Rank',
 'Series',
 'Total worldwide box office',
 'No. of films',
 'Average of films',
 'Highest-grossing film']

In [30]:
movies2_df.columns=col_list
movies2_df=movies2_df.drop([1])

In [ ]:
movies2_df['Rank'].values

In [65]:
rank_list=movies2_df['Rank'].values
new_rank_list=[]
for rank in rank_list:
    if len(rank)<2 or rank.size<2:
        new_rank_list.append(rank)

AttributeError: 'str' object has no attribute 'size'

In [62]:
rank_list.size

254